@page
@model Admin.Categories.AddModel
@{
}

<div class="card w-50" style="margin:auto;">
    <div class="card-header bg-success text-white" style="font-weight:bold;">
        <i class="bi bi-plus-circle"></i> New Category
    </div>
    <form method="post">
        <div class="card-body">
            <div class="mb-3">
                <label>@Html.LabelFor(c=>c.Categ.Libelle)</label>
                <input type="text" class="form-control" asp-for="@Model.Categ.Libelle" />
                <span asp-validation-for="Categ.Libelle" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-success"><i class="bi bi-check"></i> Save</button>
        </div>
    </form>
</div>

@section  Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}