@page
@model Admin.Categories.IndexModel
@{
}

<div class="container">
    <div class="row mb-4 w-50" style="margin:auto">
        <form>
            <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Search By Keyword" />
                <button class="btn btn-info"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>

    <div class="card w-25" style="margin:auto">
        <div class="card-header text-dark" style="font-weight:bold;">
            <i class="bi bi-card-list"></i> List Of Categories
            <a class="btn btn-warning" style="float:right" asp-page="./Add"><i class="bi bi-plus-circle"></i></a>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">@Html.LabelFor(c=>c.CategoryList.ElementAt(0).Libelle)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach(var category in Model.CategoryList)
                    {
                        <tr>
                            <td>@category.Libelle</td>
                            <td><button class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>

