@page
@model Admin.Products.DetailsModel
@{
}

<div class="card w-50" style="margin:auto;">
    <div class="card-header bg-secondary text-white" style="font-weight:bold;">
        <i class="bi bi-zoom-in"></i> Details of ...
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer text-muted">
        <a class="btn btn-outline-dark" asp-page="./Index"><i class="bi bi-arrow-return-left"></i></a>
    </div>
</div>
