@page
@model Admin.Products.IndexModel
@{
}

<div class="container">
    <div class="row mb-4 w-50" style="margin:auto">
        <form>
            <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Search By Keyword" />
                <button class="btn btn-info"><i class="bi bi-search"></i></button>

            </div>
        </form>
    </div>
    <div class="card">
        <div class="card-header text-dark" style="font-weight:bold;">
            <i class="bi bi-card-list"></i> List Of Product
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Promotion</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>
